# cache files
__pycache__/
.pytest_cache/
# vs code files
.vscode/
website/.vs/

#Terraform files
*.hcl
*.zip
*.tfstate
*.zip
*.backup
*.terraform/

# Lambda Function Files
src/lambdaFunctions.egg-info/
.github
