body {
    background: #18191A;
    color: #E4E6EB;
    max-width: 1800px;
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
    text-align: center;
    padding: 50px;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px;
}

#status {
    margin-bottom: 30px;
    font-weight: bold;
}

.status-up {
    color: #13cf13;
}

.status-down {
    color: #cf1313;
}

/* text size adjustments for mobile */
@media screen and (min-width: 601px) {

    body {
        font-size: 22px;
    }

    h1 {
        font-size: 4em;
    }

    #status {
        font-size: 36px;
    }

    .status-up {
        font-size: 42px;
    }

    .status-down {
        font-size: 42px;
    }


}

@media screen and (max-width: 600px) {

    body {
        font-size: 16px;
    }

    h1 {
        font-size: 2em;
    }

    #status {
        font-size: 26px;
    }

    .status-up {
        font-size: 32px;
    }

    .status-down {
        font-size: 32px;
    }

}